<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
      <h3 class="text-3xl "><span class="text-light">Hello</span>, <%= user.fullname%> !!  &#x1F44B</h3>
      <h5>You can create a post.</h5>
      <form action="">
        <input type="textarea" class="resize-none bg-transparent border-2 border-zinc-800 ">
      </form>

    </div>
  </body>
</html>
